.~lock.*
*.pyc
heroku_deploy/*
lib/*
yearly_html/*
yearly_html_backup/*
yearly_html_missing/*
kimono/*
kimono_city_ids/*
kimono_special*/*
*.db-journal
*.db
experimental_*
logs.txt
crons/iftar-crons/create_pic_with_text/out_images_08_dark/*
crons/iftar-crons/create_pic_with_text/images/*
crons/iftar-crons/create_pic_with_text/out_images/*
crons/iftar-crons/create_pic_with_text/anne_images_1/*
diyanet_monthly_html/*
diyanet_prayer_times_monthly.json
diyanet_prayer_times_monthly*
diyanet_monthly_*
monthly.json
monthly.csv
monthly_firebase.json
firebase_date_separated.json

*/output_anne_*/*
*/anne_images_*/*
*/output*/*

.DS_Store
.DS_Store/*

website_content_md
website_content_md/*
sitemaps
sitemaps/*
firebase
firebase/*

.idea/workspace.xml
.idea/*
.idea
npm-debug.log

frontend_jekyll_md_tree_generated*/*
node_modules
node_modules/*
*~
.undodir
.undodir/*

UNUSED
UNUSED/*
*.swp
.swp

create_pic_with_text
create_pic_with_text/*
*/create_pic_with_text/*

.jekyll-cache
*/.jekyll-cache/*
env_py2/
env_py2/*
env
env/*
