    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Namaz Vakitleri</h2>

<!--               <div class="container">
                <div class="row">
                  <div class="col-md-2">İmsak</div>
                  <div class="col-md-2">Güneş</div>
                  <div class="col-md-2">Öğle</div>
                  <div class="col-md-2">İkindi</div>
                  <div class="col-md-2">Akşam</div>
                  <div class="col-md-2">Yatsı</div>
                </div>

                <div class="row">
                  <div class="col-md-2" id="p-imsak"></div>
                  <div class="col-md-2" id="p-gunes"></div>
                  <div class="col-md-2" id="p-ogle"></div>
                  <div class="col-md-2" id="p-ikindi"></div>
                  <div class="col-md-2" id="p-aksam"></div>
                  <div class="col-md-2" id="p-yatsi"></div>
                </div>
              </div> -->

              <table class="table table-namaz-vakitleri">
                <tr>
                  <th class="th-namaz-vakitleri">İmsak</th>
                  <th class="th-namaz-vakitleri">Güneş</th>
                  <th class="th-namaz-vakitleri">Öğle</th>
                  <th class="th-namaz-vakitleri">İkindi</th>
                  <th class="th-namaz-vakitleri">Akşam</th>
                  <th class="th-namaz-vakitleri">Yatsı</th>
                </tr>
                <tr>
                  <td id="p-imsak"></td>
                  <td id="p-gunes"></td>
                  <td id="p-ogle"></td>
                  <td id="p-ikindi"></td>
                  <td id="p-aksam"></td>
                  <td id="p-yatsi"></td> 
                </tr>
              </table>

              <a href="https://play.google.com/store/apps/details?id=io.haku.iftarvakitleri">
                <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/tr_generic_rgb_wo_45.png" />
              </a>

              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES * * */
                  var disqus_shortname = 'iftarvakitleri';
                  
                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
              
              <!-- <br/>
              <p>Landing-Page is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/landing-page/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
              <p>The Jekyll version is brought to you by <a href="https://github.com/swcool">Shane Weng</a></p>
              <p>This theme features stock photos by <a href="http://join.deathtothestockphoto.com//">Death to the Stock Photo</a>.</p>
              <p>Landing-Page includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
              <br/> -->
            </div>
        </div>
    </section>
