    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Namaz Vakitleri</h2>

              <table class="table table-namaz-vakitleri">
                <tr>
                  <th class="th-namaz-vakitleri">İmsak</th>
                  <th class="th-namaz-vakitleri">Güneş</th>
                  <th class="th-namaz-vakitleri">Öğle</th>
                  <th class="th-namaz-vakitleri">İkindi</th>
                  <th class="th-namaz-vakitleri">Akşam</th>
                  <th class="th-namaz-vakitleri">Yatsı</th>
                </tr>
                <tr>
                  <td id="p-imsak"></td>
                  <td id="p-gunes"></td>
                  <td id="p-ogle"></td>
                  <td id="p-ikindi"></td>
                  <td id="p-aksam"></td>
                  <td id="p-yatsi"></td> 
                </tr>
              </table>

              <div class="row">
                <a href="https://play.google.com/store/apps/details?id=io.haku.iftarvakitleri">
                  <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/tr_generic_rgb_wo_45.png" />
                </a>
              </div><br /><br /><br />

              <div class="row">

                <div class="col-md-3">
                  <div class="fb-share-button" data-href="http://iftarvakitleri.org" data-layout="button_count"></div>
                </div>

                <div class="col-md-3">
                  <a class="twitter-hashtag-button" href="https://twitter.com/intent/tweet">Tivitle</a>
                </div>

                <div class="col-md-3"> 
                  <div class="g-plus" data-action="share"></div>
                </div>
                  
                <div class="col-md-3">
                  <script type="IN/Share" data-url="http://iftarvakitleri.org" data-counter="top"></script>
                </div>
              </div><br /><br />

<!--               <div id="disqus_thread"></div>
              <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES * * */
                  var disqus_shortname = 'iftarvakitleri';
                  
                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->

              <div class="fb-comments" data-href="http://iftarvakitleri.org" data-numposts="10"></div>
            </div>
        </div>
    </section>
