<section id="services">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">İftar ve namaz vakitlerini ülkelere göre arayın.</h2>
          <div class="lead">
            * [Türkiye](/ulke/türkiye)
            * [Azerbaycan](/ulke/azerbaycan)
            * [Almanya](/ulke/almanya)
            * [Amerika](/ulke/amerika)
            * [İrlanda](/ulke/irlanda)
            * [İngiltere](/ulke/ingiltere)
            * [Polonya](/ulke/polonya)
            * [İsveç](/ulke/isveç)
            * [Arabistan](/ulke/suudi-arabistan/)
          </div>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
        </div>
      </div>
    </div><!-- /.container -->
  </div><!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">İftar vakitleri en çok aranan şehirler</h2>
            <div class="lead">
              * [İstanbul](/iftar.html?sehir=Istanbul&ulke=Türkiye)
              * [Ankara](/iftar.html?sehir=Ankara&ulke=Türkiye)
              * [Bakü (Baki)](/iftar.html?sehir=Baku&ulke=Azerbaycan)
              * [İzmir](/iftar.html?sehir=Izmir&ulke=Türkiye)
              * [New York](/iftar.html?sehir=New york&ulke=ABD)
              * [Bursa](/iftar.html?sehir=Bursa&ulke=Türkiye)
              * [Berlin](/iftar.html?sehir=Berlin&ulke=Almanya)
              * [Viyana (Wien)](/iftar.html?sehir=Wien&ulke=Avusturya)
              * [Köln](/iftar.html?sehir=Köln&ulke=Almanya)
              * [Kayseri](/iftar.html?sehir=Kayseri&ulke=Türkiye)
            </div>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
        </div>
      </div>
    </div><!-- /.container -->
  </div><!-- /.content-section-b -->
</section>
