<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br/><br/>
      <h2 id="hava-durumu">
        <span id="span-weather-country"></span>
        <span id="span-weather-city"></span>
        5 Günlük Hava Durumu
      </h2>

      <table class="table table-striped" id="table-hava-durumu">
        <thead>
          <tr>
            <th class="th-namaz-vakitleri">Tarih/saat</th>
            <th class="th-namaz-vakitleri">Sıcaklık</th>
            <th class="th-namaz-vakitleri">Durum</th>
            <th class="th-namaz-vakitleri"></th>
            <th class="th-namaz-vakitleri">Nem</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>