<br><br><br><br><br><br>
<div class="row"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 div-table-header"><b><h1 id=""><b>2016 Dini Günleri</b></h1></div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xs-6 div-table-header"><b>Gün</b></div>
        <div class="col-xs-6 div-table-header"><b>Tarih</b></div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 REGAİB KANDİLİ ne zaman?">REGAİB KANDİLİ</div>
        <div class="col-xs-6">07 NİSAN 2016, PERŞEMBE</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 ÜÇ AYLARIN BAŞLANGICI ne zaman?">ÜÇ AYLARIN BAŞLANGICI</div>
        <div class="col-xs-6">08 NİSAN 2016, CUMA</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 MİRAC KANDİLİ ne zaman?">MİRAC KANDİLİ</div>
        <div class="col-xs-6">03 MAYIS 2016, SALI</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 BERAT KANDİLİ ne zaman?">BERAT KANDİLİ</div>
        <div class="col-xs-6">21 MAYIS 2016, CUMARTESİ</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 RAMAZAN'IN BAŞLANGICI ne zaman?">RAMAZAN'IN BAŞLANGICI</div>
        <div class="col-xs-6">06 HAZİRAN 2016, PAZARTESİ</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 KADİR GECESİ ne zaman?">KADİR GECESİ</div>
        <div class="col-xs-6">01 TEMMUZ 2016, CUMA</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 AREFE ne zaman?">AREFE</div>
        <div class="col-xs-6">04 TEMMUZ 2016, PAZARTESİ</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 RAMAZAN BAYRAMI (1.Gün) ne zaman?">RAMAZAN BAYRAMI (1.Gün)</div>
        <div class="col-xs-6">05 TEMMUZ 2016, SALI</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 RAMAZAN BAYRAMI (2.Gün) ne zaman?">RAMAZAN BAYRAMI (2.Gün)</div>
        <div class="col-xs-6">06 TEMMUZ 2016, ÇARŞAMBA</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 RAMAZAN BAYRAMI (3.Gün) ne zaman?">RAMAZAN BAYRAMI (3.Gün)</div>
        <div class="col-xs-6">07 TEMMUZ 2016, PERŞEMBE</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 AREFE ne zaman?">AREFE</div>
        <div class="col-xs-6">11 EYLÜL 2016, PAZAR</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 KURBAN BAYRAMI (1.Gün) ne zaman?">KURBAN BAYRAMI (1.Gün)</div>
        <div class="col-xs-6">12 EYLÜL 2016, PAZARTESİ</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 KURBAN BAYRAMI (2.Gün) ne zaman?">KURBAN BAYRAMI (2.Gün)</div>
        <div class="col-xs-6">13 EYLÜL 2016, SALI</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 KURBAN BAYRAMI (3.Gün) ne zaman?">KURBAN BAYRAMI (3.Gün)</div>
        <div class="col-xs-6">14 EYLÜL 2016, ÇARŞAMBA</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 HİCRİ YILBAŞI ne zaman?">HİCRİ YILBAŞI</div>
        <div class="col-xs-6">02 EKİM 2016, PAZAR</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6" data="2016 AŞURE GÜNÜ ne zaman?">AŞURE GÜNÜ</div>
        <div class="col-xs-6">11 EKİM 2016, SALI</div>
      </div>

      <hr />
      ​
      <div class="row">
        <div class="col-xs-6" data="2016 MEVLİD KANDİLİ​ ne zaman?">MEVLİD KANDİLİ​</div>
        <div class="col-xs-6">1 ARALIK 2016​​, PAZAR​</div>
      </div>

      <hr />
    </div>
  </div> <!-- /col-lg-8 -->
</div>
