<div class="container">
  <div class="row">
    <div class="col-lg-12" style="text-align:center;">
      <h3>Büyük şehirlerin iftar ve namaz vakitleri ve hava durumları</h3>
      <ul style="list-style: none">
        <li><a href="/TÜRKİYE/İSTANBUL">İstanbul için iftar vakitleri</a></li>
        <li><a href="/TÜRKİYE/ANKARA">Ankara için iftar vakitleri</a></li>
        <li><a href="/TÜRKİYE/İZMİR">İzmir için iftar vakitleri</a></li>
        <li><a href="/TÜRKİYE/BURSA">Bursa için iftar vakitleri</a></li>
        <li><a href="/TÜRKİYE/ANTALYA">Antalya için iftar vakitleri</a></li>
        <li><a href="/TÜRKİYE/ADANA">Adana için iftar vakitleri</a></li>
        <li><a href="/TÜRKİYE/KONYA">Konya için iftar vakitleri</a></li>
        <li><a href="/ABD/NEW YORK">New York (ABD) için iftar vakitleri</a></li>
        <li><a href="/ABD/CALIFORNIA">Kaliforniya (ABD) için iftar vakitleri</a></li>
        <li><a href="/ALMANYA/BERLIN">Berlin (Almanya) için iftar vakitleri</a></li>
        <li><a href="/ALMANYA/FRANKFURT">Frankfurt (Almanya) için iftar vakitleri</a></li>
        <li><a href="/ALMANYA/KOLN">Köln (Almanya) için iftar vakitleri</a></li>
        <li><a href="/ALMANYA/HAMBURG">Hamburg (Almanya) için iftar vakitleri</a></li>
        <li><a href="/ALMANYA/DUSSELDORF">Düsseldorf (Almanya) için iftar vakitleri</a></li>
        <li><a href="/ALMANYA/STUTTGART">Stuttgart (Almanya) için iftar vakitleri</a></li>
        <li><a href="/ALMANYA/MUNCHEN">Münih - Munchen (Almanya) için iftar vakitleri</a></li>
        <li><a href="/HOLLANDA/AMSTERDAM">Amsterdam (Hollanda) için iftar vakitleri</a></li>
        <li><a href="/INGILTERE/LONDRA">Londra (İngiltere) için iftar vakitleri</a></li>
      </ul>
    </div>
  </div>
</div>