<section id="home">
<!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <!-- <h1>{{ page.title }}</h1> -->
                        <div class="row">
                          <div class="your-clock"></div>
                        </div>
                        <h3 class="subtitle">{{ page.subTitle }}</h3><span><h4><a href="#disclaimer" style="color:blue;"> *</a></h4></span>
                        <hr class="intro-divider">
                        <h4 id="today-date"></h4>
                        <p id="today-date-hicri"><b>Hicri: </b></p>
                        <p id="p-belirli-gun"></p>
                    </div>
                </div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- iftar ad responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3237344784986563"
                     data-ad-slot="6285125774"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
</section>