<div class="center-text">
  <div class="row center-text">
    <h1>Ramazan'ın <span id="span-ramazan-start-end-text"></span> kaç gün kaldı?</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="center-text">
         <h1 style="font-size:45px;">
           <span id="span-ramazan-days-remaining"></span><sup id="sup-ramazan-days-left"> gün</sup>
         </h1>
      </div>
    </div>
  </div>

  <br />
  <div class="container">
    <div class="row">
      <p><code>Ramazan ne zaman bitiyor? - <span id="span-ramazan-bitis"></span> (Son oruç tutulan gün)</code></p>
    </div>
  </div>
</div> <!-- /Ramazan days left-->

<br>

<div class="center-text">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

