<div class="center-text">
  <div class="row center-text">
    <h1>Ramazan'ın <span id="span-ramazan-start-end-text"></span> kaç gün kaldı?</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-5">
        <div class="div-ramazan-days-left circle">
          <span id="span-ramazan-days-remaining"></span><sup class="sup-ramazan-days-left">gün</sup>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="container">
    <div class="row">
      <p><code>Ramazan ne zaman bitiyor? - <span id="span-ramazan-bitis"></span> (Son oruç tutulan gün)</code></p>
    </div>
  </div>
</div> <!-- /Ramazan days left-->

<!-- <div class="center-text">
  <div class="row center-text">
    <h1>Ramazan'a kaç gün kaldı?</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-5">
        <div class="div-ramazan-days-left circle">
          <span id="span-ramazan-days-left"></span><sup class="sup-ramazan-days-left">gün</sup>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="container">
    <div class="row">
      <p><code>Ramazan ne zaman? - 5 Temmuz 2016</code></p>
    </div>
  </div>
</div> -->
<!-- /Ramazan days left -->