<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		     style="display:block; text-align:center;"
		     data-ad-layout="in-article"
		     data-ad-format="fluid"
		     data-ad-client="ca-pub-3237344784986563"
		     data-ad-slot="2358698089"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		{% include generated_post.html %}
		{% include about.html %}
		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
