<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    {% include generated_post.html %}
    {% include namaz_vakitleri_dashboard.html %}
    {% include aylik_namaz_vakitleri.html %}
    {% include aylik_hava_durumu.html %}
    {% include mailchimp_widget.html %}
    {% include about.html %}
    {% include ramazan_counter.html %}
    <div class="row">
      <!--{% include instagram_widget.html %}-->
      <!--{% include twitter_widget.html %}-->
      {% include mailchimp_widget.html %}
    </div>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
